<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="widthdevice-width, initial-scale=1.0">
    <meta name="Content-Type-Script" content="text/javascript">
    <meta name="Content-Type-Style" content="text/css">
    <meta name="author" content="owwwlab.com">
    <link href="/journal_sys/icons/AHU.png" rel="shortcut icon" >
    <link href="/journal_sys/bootstrap-4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="/journal_sys/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <link href="/journal_sys/css/base.css" rel="stylesheet">
    <link href="/journal_sys/css/vendors.css" rel="stylesheet" type="text/css">
    <link href="/journal_sys/css/vendors-overwrites.css" rel="stylesheet" type="text/css">
    <link href="/journal_sys/css/styles.css" rel="stylesheet" type="text/css">
    <link href="/journal_sys/css/demo3.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/journal_sys/css/style1.css"> <!-- Resource style -->

    <script src="/journal_sys/css/jquery.min.js"></script>
    <script src="/journal_sys/css/vendors.js"></script>
    <title>Welcome to AHU Journal manage system </title>
</head>


<nav class="navbar navbar-expand-lg navbar-dark">
    <a href="" target="_blank"><img src="/journal_sys/icons/AHU.png" width="47" height="38" alt="icpc_logo"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="navbar-toggler" type="button" data-target="#navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">

        <ul class="navbar-nav" >
            <li class="nav-item ">
                <a class="nav-link" href="/"><span class="oi oi-home" title="home" aria-hidden="true"></span> 进入首页</a>
            </li>&nbsp;&nbsp;
            <li class="nav-item  ">
                <a class="nav-link" href="/search"><span class="oi oi-tag" title="tag" aria-hidden="true"></span>查询期刊</a>
            </li>&nbsp;&nbsp;
            <!--<div th:if="${user}">-->
            <li class="nav-item  "  th:if="${user} and ${user.authority == 1}">
                <a class="nav-link" href="/admin/enter"><span class="oi oi-list" title="list" aria-hidden="true"></span>入库登记</a>
            </li>&nbsp;&nbsp;
            <li class="nav-item  "  th:if="${user} and ${user.authority == 1}">
                <a class="nav-link" href="/admin/enterpaper"><span class="oi oi-list" title="list" aria-hidden="true"></span>内容登记</a>
            </li>&nbsp;&nbsp;
            <li class="nav-item"  th:if="${user} and ${user.authority == 1}">
                <a class="nav-link" href="/admin/borrow"><span class="oi oi-list" title="list" aria-hidden="true"></span>借阅处理</a>
            </li>&nbsp;&nbsp;
            <li class="nav-item"  th:if="${user} and ${user.authority == 1}">
                <a class="nav-link" href="/admin/return"><span class="oi oi-list" title="list" aria-hidden="true"></span>归还处理</a>
            </li>&nbsp;&nbsp;
            <li class="nav-item  "  th:if="${user} and ${user.authority == 1}">
                <a class="nav-link" href="/admin/zd"><span class="oi oi-list" title="list" aria-hidden="true"></span>期刊征订</a>
            </li>
            <!--</div>-->


        </ul>

        <ul class="navbar-nav pull-right">
            <li class="dropdown" th:if="${user}"><a href="#" class="dropdown-toggle nav-item navbar-expand-md" data-toggle="dropdown" th:text="欢迎你，+${user.name}"><span
            ></span>Admin</a>
                <ul class="dropdown-menu" >
                    <li class="nav-item navbar-expand-md"><a href="/user/me">我的订阅</a></li>
                    <li class="divider"></li>
                    <li class="nav-item navbar-expand-md"><a href="/logout">注销</a></li>
                </ul>
            </li>

            <li class="dropdown nav-item navbar-expand-md" th:if="${user == Null}"><a class="nav-link" href="/login" >登录</a>

            </li>
        </ul>
    </div>
</nav>
<!-- background="journal_sys/images/back.png" -->
<!--不同页面的部分，从这里开始-->
 <body style="background-image: url(journal_sys/images/7.png); background-size: 100%;">
    <h1 class="text-center" ><font size="5">征订单</font></h1><br>
    <h5 class="text-center">2019年6月11日</h5>
	

    <br>
    <div class="container" style="width:70%">
         <div class="card">
            <div class="card-header">
                <h4>基本信息</h4>
            </div>
			<div style="position:absolute; left:700px; top:35px; border:#000 solid 0px; z-index:9999;"><img  src="/journal_sys/images/JSJX.jpg" width="300" height="180"/></div>
            <div class="card-body" style="position:relative;" >
                <p class="card-text">
                <h4 class="with-underline"><b>期刊名：计算机学报</b></h4>
				<h4 class="with-underline"><b>ISSN：0254-4164</b></h4>
				<h4 class="with-underline"><b>CN：11-1826/TP</b></h4>
				</p>
            </div>
        </div><br>
		
         <div class="card">
            <div class="card-header">
                <h4>基本信息</h4>
            </div>
			<div style="position:absolute; left:700px; top:35px; border:#000 solid 0px; z-index:9999;"><img  src="/journal_sys/images/JFYZ.jpg" width="300" height="180"/></div>
            <div class="card-body" style="position:relative;" >
                <p class="card-text">
                <h4 class="with-underline"><b>期刊名：计算机研究与发展</b></h4>
				<h4 class="with-underline"><b>ISSN：1000-1239</b></h4>
				<h4 class="with-underline"><b>CN：11-1777/TP</b></h4>
				</p>
            </div>
        </div><br>

         <div class="card">
            <div class="card-header">
                <h4>基本信息</h4>
            </div>
			<div style="position:absolute; left:700px; top:35px; border:#000 solid 0px; z-index:9999;"><img  src="/journal_sys/images/BDZK201902.jpg" width="300" height="180"/></div>
            <div class="card-body" style="position:relative;" >
                <p class="card-text">
                <h4 class="with-underline"><b>期刊名：北京大学报</b> </h4>
				<h4 class="with-underline"><b>ISSN：0479-8023</b></h4>
				<h4 class="with-underline"><b>CN：11-2442/N</b></h4>
				</p>
            </div>
        </div><br>		
		
         <div class="card">
            <div class="card-header">
                <h4>基本信息</h4>
            </div>
			<div style="position:absolute; left:700px; top:35px; border:#000 solid 0px; z-index:9999;"><img  src="/journal_sys/images/QHDZ.jpg" width="300" height="180"/></div>
            <div class="card-body" style="position:relative;" >
                <p class="card-text">
                <h4 class="with-underline"><b>期刊名：清华大学报</b></h4>
				<h4 class="with-underline"><b>ISSN：1000-0062</b></h4>
				<h4 class="with-underline"><b>CN：11-3596/C</b></h4>
				</p>
            </div>
        </div><br>		
		
         <div class="card">
            <div class="card-header">
                <h4>基本信息</h4>
            </div>
			<div style="position:absolute; left:700px; top:35px; border:#000 solid 0px; z-index:9999;"><img  src="/journal_sys/images/MOTO.jpg" width="300" height="180"/></div>
            <div class="card-body" style="position:relative;" >
                <p class="card-text">
                <h4 class="with-underline"><b>期刊名：自动化学报</b></h4>
				<h4 class="with-underline"><b>ISSN：0254-4156</b></h4>
				<h4 class="with-underline"><b>CN：11-2109/TP</b></h4>
				</p>
            </div>
        </div><br>		
		
		
         <div class="card">
            <div class="card-header">
                <h4>基本信息</h4>
            </div>
			<div style="position:absolute; left:700px; top:35px; border:#000 solid 0px; z-index:9999;"><img  src="/journal_sys/images/RJXB.jpg" width="300" height="180"/></div>
            <div class="card-body" style="position:relative;" >
                <p class="card-text">
                <h4 class="with-underline"><b>期刊名：软件学报</b></h4>
				<h4 class="with-underline"><b>ISSN：1000-9825</b></h4>
				<h4 class="with-underline"><b>CN：11-2560/TP</b></h4>
				</p>
            </div>
        </div><br>		
		
         <div class="card">
            <div class="card-header">
                <h4>基本信息</h4>
            </div>
			<div style="position:absolute; left:700px; top:35px; border:#000 solid 0px; z-index:9999;"><img  src="/journal_sys/images/安徽大学报.jpg" width="300" height="180"/></div>
            <div class="card-body" style="position:relative;" >
                <p class="card-text">
                <h4 class="with-underline"><b>期刊名：安徽大学学报</b> </h4>
				<h4 class="with-underline"><b>ISSN：1001-5019</b></h4>
				<h4 class="with-underline"><b>CN：34-1040/C</b></h4>
				</p>
            </div>
        </div><br>		
        
        </div><br><br><br>
 </div>
 
 </body>
 
 
    <section id="footer">
      <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
          <p class="h6">安徽大学期刊管理系统 CopyRight@Software Design Group-10</a></p>
        </div>
		<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
          <p class="h6">Powered by:Zhiyi Chen, Keyu Zhao, Guowang Zhuang, Yingjie Wang, Yuze Zhao</a></p>
        </div>
        
          <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
            <p class="h6">&copy All right Reversed.<a class="ml-2" href="#">AHU Journal Manage System</a></p>
          </div>
          </hr>
        
      </div>
    </section>
    <!-- Footer -->
	
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="journal_sys/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script> 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/popper.min.js"></script> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> 
    <script src="journal_sys/bootstrap-4.1.3/js/bootstrap.min.js"></script> 
    <script src="journal_sys/js/scroll.js"></script>
    <script src="journal_sys/js/footer.js"></script>
	<!--<script type="text/javascript">
	/* 鼠标特效 */
	var a_idx = 0;
	jQuery(document).ready(function($) {
		$("body").click(function(e) {
			var a = new Array("?富强?","?民主?","?文明?","?和谐?","?自由?","?平等?","?公正?","?法治?","?爱国?","?敬业?","?诚信?","?友善?");
			var $i = $("<span></span>").text(a[a_idx]);
			a_idx = (a_idx + 1) % a.length;
			var x = e.pageX,
			y = e.pageY;
			$i.css({
				"z-index": 999999999999999999999999999999999999999999999999999999999999999999999,
				"top": y - 20,
				"left": x,
				"position": "absolute",
				"font-weight": "bold",
				"color": "rgb("+~~(255*Math.random())+","+~~(255*Math.random())+","+~~(255*Math.random())+")"
			});
			$("body").append($i);
			$i.animate({
				"top": y - 180,
				"opacity": 0
			},
			1500,
			function() {
				$i.remove();
			});
		});
	});
	</script>-->
	
  
  
</html>